<%- include('partials/header.ejs')%>
<h2>Welcome to our home page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quasi optio
  est sit, obcaecati rem dignissimos, maxime distinctio soluta id repudiandae
  perferendis similique veniam error voluptatem aliquid odit in, autem tempore
  nemo earum corrupti minus laboriosam facere? Rem, labore distinctio.
</p>
<%- include('partials/footer.ejs')%>